<h2 id="training-events">
	Training &amp; Events</h2>
<br />
{{#entries}}
<div class="row">
	<div class="col-xs-3">
		<a href="{{{url.webpage}}}" style="margin-bottom:10px;" /><img class="img-responsive" src="{{{url.image}}}" style="margin-bottom:10px;" /></a></div>
	<div class="col-xs-9">
		<p>
			<a href="{{{url.webpage}}}" target="_blank">
				{{{title}}}</a>{{#extra}}<br />
				{{extra}}{{/extra}}{{#date}}<br />
				{{date}}{{/date}}{{#location}}<br />
				{{location}}{{/location}}</p>
	</div>
</div>
{{/entries}}
<!--<div class="row">
	<div class="col-xs-3">
		<a href="/web/website/taccster"><img class="img-responsive" src="/documents/1084364/1607128/TIS-cloud.jpg/" style="margin-bottom:10px;" /></a></div>
	<div class="col-xs-9">
		<p>
			<a href="/web/website/taccster">SEPT 20-21<br />
			TACCSTER Symposium</a></p>
	</div>
</div>--><!--<div class="row">
	<div class="col-xs-3">
		<a href="https://datascience.chaminade.edu/curriculum/summer-immersion-experience/" target="_blank"><img alt="Chaminade University Summer Immersion Experience" class="img-responsive" src="/documents/1084364/1694621/chaminade.jpg/" style="margin-bottom:10px;" /></a></div>
	<div class="col-xs-9">
		<p>
			<a href="https://datascience.chaminade.edu/curriculum/summer-immersion-experience/" target="_blank">Chaminade University Summer Immersion Experience</a><br />
			May 20 - June 14<br />
			Honolulu, Hawaii</p>
	</div>
</div>--><!--<div class="row">
	<div class="col-xs-3">
		<a href="http://rice2019oghpc.rice.edu/" target="_blank"><img alt="Rice HPC Oil &amp; Gas Conference" class="img-responsive" src="/documents/1084364/1694621/oil-and-gas.jpg/" style="margin-bottom:10px;" /></a></div>
	<div class="col-xs-9">
		<p>
			<a href="http://rice2019oghpc.rice.edu/" target="_blank">Rice HPC Oil &amp; Gas Conference</a><br />
			March 4<br />
			Houston, TX</p>
	</div>
</div>--><!-- !!!: Course Expired — added too late, by Wesley B, on 2020-03-10 --><!--
<div class="row">
	<div class="col-xs-3">
		<a href="https://learn.tacc.utexas.edu/enrol/index.php?id=84" target="_blank"><img alt="Workshop on Artificial Intelligence in Natural Hazards Engineering" class="img-responsive" src="/documents/1084364/1694621/tacc-learning-portal.jpg" style="margin-bottom:10px;" /></a></div>
	<div class="col-xs-9">
		<p>
			<a href="https://learn.tacc.utexas.edu/enrol/index.php?id=84" target="_blank">Containers@TACC</a><br />
			March 6, 2020<br />
			In-Person and Webcast</p>
	</div>
</div>
-->